@tailwind base;
@tailwind components;
@tailwind utilities;:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green-bright: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
}

@media(prefers-color-scheme: dark){:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green-bright: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
}
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=MuseoModerno&family=NTR&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--slate);
  background: var(--navy);
  font-family: 'Comfortaa', cursive;
}

.pri-btn {
  border: 1px solid var(--green-bright);
  border-radius: 5px;
  padding: 18px 26px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--green-bright)
}

.font-museo {
  font-family: 'MuseoModerno', cursive;
}

.font-comfortaa {
  font-family: 'Comfortaa', cursive;
}

.grad-bg-text {
  background: linear-gradient(90deg,#a166ed,#5777ff);
  font-weight: 900;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.hover1 {
  color: var(--green-bright);
  transform: translateY(-2px);
}

.title {
  font-weight: 900;
  color: var(--light-slate);
  margin-bottom: 2rem;
  @apply text-4xl md:text-5xl;
}

.title::after {
  content: '';
  position: relative;
  display: block;
  top: -1.5rem;
  margin-left: 18rem;
  width: 20rem;
  height: 1px;
  background: var(--light-slate);
  z-index: -1;
}

.about-tech-stack {
  list-style: none;
}

.about-tech-stack li::before {
  content: "▹";
  color: var(--green-bright);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-right: 5px;
}